{% extends "base.html" %} {% block main %}
<script src="https://unpkg.com/currency.js@2.0.4/dist/currency.min.js"></script>

<head>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="/static/css/add.css" rel="stylesheet">
</head>

<div class="add-root bd-cheatsheet container-fluid bg-body">
    <!-- <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"/></svg>

            <strong class="me-auto">Bootstrap</strong>
            <small class="text-muted">11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div> -->

    <section id="forms">
        <!-- <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Forms</h2> -->
        <article class="my-3" id="validation">

            <div>
                <div class="bd-example">

                    <form class="row g-3" id="submit-form">
                        <div class="col-md-3">
                            <label for="date" class="form-label">日期</label>
                            <input type="date" class="form-control" id="date" required>
                        </div>

                        <div class="col-md-3">
                            <label for="code" class="form-label">代码</label>
                            <input type="text" class="form-control" id="code" required>
                        </div>

                        <div class="col-md-3">
                            <label for="name" class="form-label">名称</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>

                        <div class="col-md-3">
                            <label for="price" class="form-label">价格</label>
                            <input type="text" class="form-control" v-model="price" id="price">
                        </div>

                        <div class="col-md-3">
                            <label for="shares" class="form-label">股数<span class="span-tip">（买入为正，卖出为负）</span></label>
                            <input type="text" class="form-control" v-model="shares" id="shares">
                        </div>

                        <div class="col-md-3">
                            <label for="total-price" class="form-label">总价</label>
                            <input type="text" class="form-control" v-model="totalPrice" id="total-price">
                        </div>

                        <div class="col-md-3">
                            <label for="total-fee" class="form-label">总费用</label>
                            <input type="text" class="form-control" v-model="totalFee" id="total-fee">
                        </div>

                        <div class="col-md-3">
                            <label for="commission" class="form-label">佣金</label>
                            <input type="text" class="form-control" v-model="commission" id="commission">
                        </div>

                        <div class="col-md-3">
                            <label for="fees" class="form-label">规费</label>
                            <input type="text" class="form-control" v-model="fees" id="fees">
                        </div>

                        <div class="col-md-3">
                            <label for="stamp-duty" class="form-label">印花税</label>
                            <input type="text" class="form-control" v-model="stampDuty" id="stamp-duty">
                        </div>

                        <div class="col-md-3">
                            <label for="transfer-tax" class="form-label">过户费</label>
                            <input type="text" class="form-control" v-model="transferTax" id="transfer-tax">
                        </div>

                        <div class="col-md-3">
                            <label for="dividend-tax" class="form-label">股息税</label>
                            <input type="text" class="form-control" v-model="dividendTax" id="dividend-tax">
                        </div>

                        <div class="col-md-3">
                            <label for="dividend" class="form-label">股息</label>
                            <input type="text" class="form-control" v-model="dividend" id="dividend">
                        </div>

                        <div class="col-md-3">
                            <label for="balance" class="form-label">收支</label>
                            <input type="text" class="form-control" v-model="balance" id="balance">
                        </div>

                        <!-- <div class="col-12">
            <div class="form-check">
              <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
              <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div> -->
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </article>
    </section>
</div>

<script src="/static/js/add.js"></script>

{% endblock %}