{% extends "base.html" %}
{% block title %}<title>首页</title>{% endblock %}

{% block main %}
<link href="/static/css/index.css" rel="stylesheet">
<script src="https://unpkg.com/currency.js@2.0.4/dist/currency.min.js"></script>

<div class="container col-md-12">
    <div id="div-container" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> 总收益：{{totalBalance}}</h3>
        </div>
        <div class="panel-body">
            <table id="product-list" class="table table-hover">
                <thead>
                <tr>
                    <th style="width:15%">日期</th>
                    <th style="width:20%">名称</th>
                    <!--                            <th style="width:150px">价格</th>-->
                    <th style="width:10%">收支</th>
                    <th style="width:10%"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="p in trades">
                    <td class="td-text">
                        {{p.date}}
                    </td>
                    <td class="td-text">
                        <span class="media-heading" v-text="p.name">{{p.code}}{{p.name}}</span>
                        <span v-text="p.code"></span>
                    </td>
                    <!--                            <td class="td-text">-->
                    <!--                                ¥{{p.price}}-->
                    <!--                            </td>-->
                    <td class="td-text">
                        {{p.balance}}
                    </td>
                    <td>
                        <a @click="deleteProduct(p.id)" href="#0">delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/static/js/index.js"></script>

{% endblock %}