{% extends "base.html" %} {% block title %}
<title>首页</title>{% endblock %} {% block main %}
<link href="/static/css/index.css" rel="stylesheet">
<script src="https://unpkg.com/currency.js@2.0.4/dist/currency.min.js"></script>
<script src="/static/js/moment.min.js"></script>

<div class="container col-md-12">
    <div id="div-container" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> 总收益：{{totalBalance}}</h3>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link" :class="{ active:activeTabIndex===1 }" data-bs-toggle="tab"
                        data-bs-target="#nav-current" type="button" role="tab" @click="selectTag(1)">
                    当前持仓
                </button>
                <button class="nav-link" :class="{ active:activeTabIndex===2 }" data-bs-toggle="tab"
                        data-bs-target="#nav-cleared" type="button" role="tab" @click="selectTag(2)">
                    历史持仓
                </button>
                <button class="nav-link" :class="{ active:activeTabIndex===3 }" v-if="stockHistory.length !==0"
                        data-bs-toggle="tab" data-bs-target="#nav-detail" type="button" role="tab"
                        @click="selectTag(3)">
                    {{stockHistory[0].name}} ({{stockHistory[0].code}})
                </button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane" :class="{active:activeTabIndex===1}" id="nav-current" role="tabpanel">
                <div v-for="p in currentStocks">
                    <div class="td-text">{{p.name}} ({{p.code.toString().padStart(6,"0")}})</div>
                    <div class="td-text">持仓数：{{p.shares}} &nbsp;&nbsp;&nbsp;&nbsp;盈亏：<span
                            :style="{color: p.balance > 0 ? 'red':'green'}">{{p.balance}}</span></div>
                    <div class="td-text"></div>
                    <br>
                </div>
            </div>

            <div class="tab-pane" :class="{active:activeTabIndex===2}" id="nav-cleared" role="tabpanel">
                <div class="item-container" v-for="p in clearedStocks">
                    <div class="indicator" :style="{background: p.balance > 0 ? 'red':'green'}"></div>
                    <div>
                        <div class="td-text">{{p.name}} &nbsp;({{p.code}})</div>
                        <div class="td-text">盈亏：&nbsp;<span :style="{color: p.balance > 0 ? 'red':'green'}">{{p.balance}}</span>
                        </div>
                        <div class="td-text">数据：&nbsp;{{p.containDays}}天{{p.count}}次({{p.startDate}}-{{p.endDate}})
                        </div>
                    </div>
                    <button @click="showDetail(p)">明细</button>
                </div>
            </div>
            <template v-if="stockHistory.length !==0">
                <div class="tab-pane" :class="{active:activeTabIndex===3}" id="nav-detail" role="tabpanel">
                    <div class="detail-item-container" v-for="p in stockHistory">

                        <div class="detail-left flex-column-center-all">
                            <div class="detail-indicator flex-row-center-all"
                                 :style="{background: p.balance > 0 ? 'red':'green'}">
                                <div style="font-size: small">
                                    {{p.balance > 0 ? "+":"-"}}
                                </div>
                            </div>
                            <hr class="mt-1 mb-0" style="width:1px; flex: 1; ">
                        </div>

                        <div class="detail-right">
                            <div class="td-text ms-1 mt-1">{{getDateString(p.date)}}</div>
                            <div class="td-text ms-1" v-if="new Number(p.shares) != 0">
                                {{new Number(p.shares)>0?"买入":"卖出"}}价格：&nbsp;{{p.price}}
                            </div>
                            <div class="td-text ms-1" v-if="new Number(p.shares) != 0">
                                {{new Number(p.shares)>0?"买入":"卖出"}}数量：{{Math.abs(p.shares)}}
                            </div>
                            <div class="td-text ms-1" v-if="new Number(p.shares) != 0">
                                {{new Number(p.shares)>0?"买入":"卖出"}}数量：{{Math.abs(p.shares)}}
                            </div>
                            <div class="td-text ms-1">发生金额：&nbsp;{{p.balance}}</div>
                            <hr class="mt-2 mb-2">
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

<script src="/static/js/index.js"></script>

{% endblock %}