<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Highcharts Example</title>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                data: {
                    csvURL: window.location.origin + '/static/data/fund.csv'
                },
                title: {
                    text: 'Fruit Consumption'
                },
                yAxis: {
                    title: {
                        text: 'Units'
                    }
                }
            });
        });
    </script>

</head>

<body>
    <div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
</body>

</html>