.item-container {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.indicator {
    width: 6px;
    height: 64px;
    border-radius: 3px;
    margin-right: 10px;
}

.detail-item-container {
    margin-top: 8px;
    margin-bottom: 4px;
    position: relative;
    padding-left: 40px;
}

.detail-left {
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.detail-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
}

.td-text {
    font-size: 1rem;
}

.flex-row-center-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column-center-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


